html {
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(90deg, #cc32ef 1%, #416bf4 99%);
} 

#kms {
  font-family: monospace;
  text-align: right;
  font-size: 50pt;
  margin: 60pt;
  color: #ffffff;
}